@using HotelApp.Web.ViewModels.Category
@model IEnumerable<AllCategoriesIndexViewModel>

@{
    ViewData["Title"] = "Home";
}

<div class="position-relative text-white text-center"
     style="background: linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), 
    url('/images/header-home.jpg') center/cover no-repeat; height: 100vh;"> 
</div>

@await Html.PartialAsync("_FindRoom", new HotelApp.Web.ViewModels.Room.FindRoomInputModel())

<div class="container mt-4 mb-5 text-center">
    <h1 class="text-dark">WELCOME</h1>

    <div class="row g-4">
        @foreach (AllCategoriesIndexViewModel category in Model)
        {
            <div class="col-12 col-md-6 col-lg-4 mb-5">
                <div class="card border-0 rounded-3 h-100">
                    <img src="@category.ImageUrl"
                         class="card-img-top"
                         alt="@category.Name"
                         style="height: 180px; object-fit: cover;">
                    <div class="card-body text-center">
                        <h5 class="fw-bold text-dark">@category.Name</h5>
                        <a asp-controller="Home"
                           asp-action="FindRoomByCategory"
                           asp-route-categoryId="@category.Id"
                           class="btn btn-danger">
                            BOOKING
                        </a>
                    </div>
                </div>
            </div>
        }
    </div>

</div>

@section Scripts {
}

@section Styles {
    <link rel="stylesheet" href="~/css/user.css">
}


