/* html, body */
body {
    padding-top: 5.125rem;
}
body {
    background: #f0f0f0;
}
a {
    text-decoration: none;
}
a:hover,
a:focus {
    text-decoration: none;
}
/* html, body end */

/* nav */
.navbar {
    padding: 1rem;
}

.bg-dark {
    background-color: #262627 !important;
}

.navbar-brand img:hover {
    cursor: pointer;
}

.navbar-dark .navbar-nav .nav-link {
    font-size: 1rem;
    color: #f8f9fa;
    margin: 0;
}

    .navbar-dark .navbar-nav .nav-link:hover, .dropdown-item:hover {
        color: darkred;
    }

.dropdown-item {
    color: #262627;
}
/* nav end */

/* header */
.home {
    background: url('../images/header-home.jpg');
}
.venues {
    background: url('../images/header-venues.jpg');
}
.spa-center {
    background: url('../images/header-spa-center.jpg');
}
.events {
    background: url('../images/header-events.jpg');
}
.offers {
    background: url('../images/header-offers.jpg');
}
.contact {
    background: url('../images/header-contact.jpg');
} 

.home-width {
    height: 30rem;
}
.venues-width, .spa-center-width, .events-width, .offers-width, .contact-width {
    height: 35rem;
}

.header {
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.header-title {
    margin-top: 10.625rem;
    font-size: 3.5rem;
    letter-spacing: 5px;
    word-spacing: 10px;
    color: white;
}
/* header end */

/* home page */
.search-room {
    font-size: 20px;
    background: #dce0df;
    padding: 1rem 0;
}

    .search-room .form-group {
        margin-bottom: 0;
    }

        .search-room .form-group span, .form-group .form-submit {
            font-weight: bold;
            word-spacing: 5px;
        }
        .search-room .form-group label, .search-room .form-group input {
            padding: 2px 8px;
            border: 1px solid #4f4f4f;
            border-radius: 2px;
        }
        .search-room .form-group label {
            background: white;
        }
        .search-btn {
            padding-right: 0px;
            padding-left: 0px;
        }
        .search-room .form-group .form-submit {  
            padding: 0.25rem 1.5rem;
        }
.form-control-readonly {
    background-color: #f0f0f0; /* disabled input in create booking */
    cursor: default;
}

.home-container {
    margin-top: 4rem;
}

    .home-container h2 {
        margin-bottom: 2.5rem;
        text-align: center;
    }

.col-home {
    padding-right: 7px;
    padding-left: 7px;
}

.img-thumbnail {
    border: none;
    padding: 0;
    border-radius: 0;
}

.room-info {
    background: white;
    margin-bottom: 50px;
    padding-top: 10px;
    padding-left: 20px;
}

.btn-danger {
    background-color: darkred;
    border-color: darkred;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

    .btn-danger:hover {
        color: #fff;
        background-color: #dc3545;
        border-color: #dc3545;
    }

.room-info .btn-danger {
    margin-top: 40px;
    padding-top: 10px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-left: 30px;
    border-radius: 2px;
}

.custom-container-home {
    margin-top: 50px;
    margin-bottom: 60px;
    padding-right: 0;
    padding-left: 0;
}

.custom-row {
    margin-right: 0;
    margin-left: 0;
}

.custom-col {
    padding-right: 0;
    padding-left: 0;
}

.col-venues, .col-relax-zone, .col-events {
    background: white;
}

.custom-col h5 {
    margin-top: 70px;
    margin-bottom: 20px;
    color: darkred;
}

.col-venues hr,
.col-relax-zone hr {
    width: 10%; 
    margin: 1rem auto; 
    border: none; 
    border-top: 1px solid #262627; 
    background: none; 
    height: 0; 
    opacity: 1; 
}
.custom-col h3 {
    margin-top: 30px;
    margin-bottom: 40px;
    word-spacing: 10px;
}

.custom-col p {
    margin-top: 20px;
    margin-bottom: 30px;
    padding-right: 40px;
    padding-left: 40px;
    font-size: 18px;
}

.custom-col .btn-danger {
    padding: 10px 40px;
    word-spacing: 4px;
    border: 2px solid darkred;
    border-radius: 0;
}

.btn-outline {
    color: darkred;
    background: white;
    border-color: darkred;
}

    .btn-outline:hover {
        color: white;
        background: darkred;
        border-color: darkred;
    }
/* home page end */

/* venues page, spa center page */
.venue, .spa-center-zone {
    margin-top: 50px;
    margin-bottom: 50px;
}

    .venue .row, .spa-center-zone .row {
        margin-right: 0;
        margin-left: 0;
    }

.venues-img, .spa-center-img {
    padding-right: 0;
    padding-left: 0;
}

.venues-text, .spa-center-text {
    padding-right: 0;
    padding-left: 0;
}

.venues-info, .spa-center-info {
    margin-bottom: 0;
    padding: 90px 20px;
    background: white;
}

    .venues-info h4, .spa-center-info h4 {
        margin-bottom: 20px;
        word-spacing: 5px;
        color: darkred;
    }

    .venues-info hr,
    .spa-center-info hr {
        width: 20%; 
        margin: 1rem auto; 
        border: none; 
        border-top: 3px solid #8b0000; 
        background: none; 
        height: 0; 
        opacity: 1; 
    }

    .venues-info p, .spa-center-info p {
        margin-top: 20px;
        font-size: 18px;
        word-spacing: 3px;
    }

    .venues-info h5, .spa-center-info h5 {
        margin-bottom: 0;
    }

.cont-venues {
    background: url('../images/cont-venues.jpg');
    width: 100%;
    height: 37.5rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 20px;
}

    .cont-venues h1 {
        padding-top: 14rem;
        text-align: center;
        color: white;
        font-size: 5rem;
        word-spacing: 0.65rem;
    }

.cont-spa {
    background: url('../images/cont-spa-center.jpg');
    width: 100%;
    height: 37.5rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 20px;
}

    .cont-spa h1 {
        padding-top: 12.5rem;
        text-align: center;
        color: white;
        text-shadow: 2px 2px 8px #ff0000;
        font-size: 5rem;
        word-spacing: 0.65rem;
    }
/* venues page end, spa center page end */

/* events page */
.custom-container-events {
    margin-top: 6rem;
    margin-bottom: 5rem;
}

.custom-col h2 {
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.col-events hr {
    width: 20%; 
    margin: 1rem auto; 
    border: none; 
    border-top: 2px solid #8b0000; 
    background: none; 
    height: 0;
    opacity: 1; 
}

.col-events p {
    padding-top: 40px;
    padding-right: 40px;
    padding-bottom: 60px;
    padding-left: 40px;
}
.special-events {
    margin-top: 4rem;
    margin-bottom: 5rem;
}
.special-events h3 {
    margin-bottom: 20px;
}

.special-events .row {
    margin-top: 30px;
}

.special-events hr {
    width: 10%;
    margin: 1rem auto; 
    border: none; 
    border-top: 2px solid #8b0000; 
    background: none; 
    opacity: 1; 
    height: 0;
}

.special-events .col-md-4, .special-events .col-sm-12 {
    margin-bottom: 10px;
    padding-right: 5px;
    padding-left: 5px;
}

.special-events .info {
    padding: 10px;
    background: white;
}

.event-link {
    font-size: 1.5rem;
    font-weight: 500;
    word-spacing: 5px;
    color: #212529;
}

.event-link:hover {
    color: darkred;
}

.special-events .info p {
    margin-top: 10px;
    font-size: 18px;
}
/* events page end */

/* offers page */
.header-offers {
    margin-top: -8em;
}

    .header-offers p {
        margin-bottom: 0;
        font-size: 20px;
    }

.offers1-container, .offers2-container {
    margin-top: 5rem;
    margin-bottom: 4rem;
    padding-top: 2rem;
    padding-bottom: 10px;
    font-size: 20px;
}

    .offers1-container .row, .offers2-container .row {
        margin-right: 0;
        margin-left: 0;
    }

    .offers1-container .col-img {
        margin-right: -2.5rem;
        padding-right: 0;
        padding-left: 0;
    }

    .offers1-container .col-text {
        margin-left: -2.5rem;
        padding-right: 0;
        padding-left: 0;
    }

.order-last {
    margin-left: -2.5rem;
    padding-right: 0;
    padding-left: 0;
}

.order-first {
    margin-right: -2.5rem;
    padding-right: 0;
    padding-left: 0;
}

.offers1-container .offers-info, .offers2-container .offers-info {
    margin-top: 5rem;
    padding: 2.5rem;
    background: white;
    border: 1px solid white;
    border-radius: 2px;
}

.offers1-container a, .offers2-container a {
    text-decoration: underline;
    cursor: pointer;
    color: darkred;
}
/* offers page end */

/* contact page */
.location {
    font-size: 18px;
}

    .location .col1,
    .location .col2 {
        margin-bottom: 20px;
    }

    .location h1 {
        margin-top: -10px;
    }

.jumbo-dark {
    background-color: #dc3545;
    color: white;
    padding: 2rem; 
    border-radius: 0.25rem; 
}

    .jumbo-dark h2 {
        margin-bottom: 30px;
    }

    .jumbo-dark p {
        font-weight: bold;
    }

    .jumbo-dark .phone,
    .jumbo-dark .email {
        padding: 10px;
        background-color: #dc3545;
        border: 1px solid white;
        transition: all 0.3s ease;
    }

    .phone:hover,
    .email:hover {
        background-color: white !important;
        color: #dc3545 !important;
        border-color: #dc3545 !important;
    }
    .phone:hover i,
    .email:hover i {
        color: #dc3545 !important;
    }
    
.hr-before {
    margin-bottom: 10px;
}

.hr-after {
    margin-top: 10px;
}

.jumbo-dark hr {
    width: 40%;
    margin: 1rem auto;
    border: none;
    border-top: 2px solid white;
    background: none;
    height: 0;
    opacity: 1;
}

.contact-info .jumbo-light {
    background-color: white;
    color: #dc3545;
    padding: 2rem;
    border-radius: 0.25rem;
}

    .contact-info .jumbo-light h2 {
        margin-bottom: 20px;
    }

    .contact-info .jumbo-light h5 {
        margin-bottom: 35px;
    }

    .contact-info .jumbo-light .col {
        margin-bottom: 1rem;
        padding: 2px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url('/images/social-icon-background.png');
        background-size: cover;
        background-position: center;
        height: 100px;
    }

.fs-1 {
    font-size: 3rem !important;
}
.contact-info .jumbo-light .col:hover i {
    cursor: pointer; 
}

.gps-coordinates {
    margin-bottom: 40px;
}

    .gps-coordinates h4 {
        margin-top: 20px;
    }

.maps {
    margin-bottom: 30px;
}
/* contact page end */

/* footer */
.footer {
    padding: 2rem 0;
    text-align: center;
    font-size: 14px;
    color: #f8f9fa;
    background-color: #262627;
}
.footer i {
    cursor: pointer;
}
/* footer end */

/* admin panel */
.btn-success, .btn-primary, .btn-secondary, .btn-warning {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.table-dark, .table-default {
    margin-bottom: 0;
}
.table-w50 {
    width: 50%;
}
/* admin panel end */