body {
    background-color: white;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

h1, h2 {
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

.total-label {
    text-align: right;
    font-weight: bold;
}

.total-text {
    padding-right: 5px;
    display: inline-block;
}

.total-value {
    font-weight: bold;
}
