@{
    ViewData["Title"] = "Contact";
}

<section class="contact contact-width header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h1 class="header-title text-center">Hotel Beach</h1>
            </div>
        </div>
    </div>       
</section>
<div class="container location mt-5">
    <div class="row">
        <div class="col-md-6 col-sm-12 col1">
            <h1>Location</h1>
            <p>Our beach is a popular destination in the area. It is located close to the main city and offers a picturesque and environmentally clean bay. The resort is nestled within beautiful natural surroundings, providing a unique combination of sea, forest, and fresh air. Our guests can enjoy scenic walking trails along the coast.</p>
        </div>
        <div class="col-md-6 col-sm-12 col2">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Contact us and you will receive</li>
                <li class="list-group-item"><i class="fa fa-check" aria-hidden="true"></i> Accommodation in rooms and apartments</li>
                <li class="list-group-item"><i class="fa fa-check" aria-hidden="true"></i> Modern restaurants and bars</li>
                <li class="list-group-item"><i class="fa fa-check" aria-hidden="true"></i> SPA & Wellness – your relaxation retreat</li>
            </ul>
        </div>
    </div>        
</div>
<div class="container contact-info">  
    <div class="row text-center">
        <!-- Call us -->
        <div class="col-md-4 col-sm-12 mb-4">
            <div class="jumbo-dark rounded p-4">
                <h2>Call us</h2>
                <div class="phone p-3 border border-white bg-danger text-white">
                    <h5>For info</h5>
                    <p class="hr-before"><i class="bi bi-envelope"></i> (+359) 000 000 001</p>
                    <hr />
                    <h5 class="hr-after">For reservations</h5>
                    <p><i class="bi bi-envelope"></i> (+359) 000 000 002</p>
                </div>
            </div>
        </div>

        <!-- Follow us -->
        <div class="col-md-4 col-sm-12 mb-4">
            <div class="jumbo-light rounded p-4">
                <h2>Follow us</h2>
                <h5>In Social Media</h5>
                <div class="row p-3">
                    <div class="col">
                        <i class="fab fa-facebook-f text-white fs-1"></i>
                    </div>
                    <div class="col">
                        <i class="fab fa-instagram text-white fs-1"></i>
                    </div>
                    <div class="col">
                        <i class="fab fa-twitter text-white fs-1"></i>
                    </div>
                </div>
            </div>
        </div>

        <!-- Write us -->
        <div class="col-md-4 col-sm-12 mb-4">
            <div class="jumbo-dark rounded p-4">
                <h2>Write us</h2>
                <div class="email p-3 border border-white bg-danger text-white">
                    <h5>For info</h5>
                    <p class="hr-before"><i class="bi bi-telephone"></i> info@example.com</p>
                    <hr />
                    <h5 class="hr-after">For reservations</h5>
                    <p><i class="bi bi-telephone"></i> reservations@example.com</p>
                </div>
            </div>
        </div>      
    </div>
</div>
<div class="container gps-coordinates">
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <img src="~/images/world-map.png" alt="img" class="img-thumbnail">
        </div>
        <div class="col-md-6 col-sm-12">
            <h4>GPS Coordinates</h4>
            <hr />
            <h5>Bulgaria</h5>
            <p>UTM COORDINATES: 35T 375825.52296821 4731391.6579246</p>
            <hr />
            <h5>HOTE&amp;SPA</h5>
            <p>UTM COORDINATES: 35T 234567.890 4765432.123</p>
            <hr />
        </div>
    </div>
</div>
<div class="container maps">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2908.242057203464!2d27.910474214990217!3d43.204412089353305!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40a453f4fbc22e53%3A0x4efea94d94a2cd41!2spl.%20%22Nezavisimost%22%2C%209000%20Varna%20Center%2C%20Varna!5e0!3m2!1sen!2sbg!4v1570357891861!5m2!1sen!2sbg" width="100%" height="400" frameborder="0" style="border: 0;"></iframe>
</div>
